<div ng-controller="AppCtrl" layout="column" style="height:100%;" ng-cloak>
  <section layout="row" flex>
    <md-content flex ng-controller="ContactsCtrl" ng-click="closeFilters()" id="content">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            <span>Contatos</span>
          </h2>
          <span flex></span>
          <md-button class="md-icon-button" hide-gt-md aria-label="Filtros" ng-click="toggleFilters(); $event.stopPropagation();">
            <md-icon md-svg-icon="filter.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-list ng-if="!listVars.loading" ng-cloak>
        <md-list-item class="md-3-line animate" ng-repeat="contact in contacts track by contact.id">
          <div class="md-list-item-text" layout="column">
            <h3>{{contact.name}}</h3>
            <h4>{{contact.email}}</h4>
            <p>{{contact.position.name}}</p>
            <p>{{contact.age}} anos - {{contact.state.name}}</p>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
      <div layout="row" layout-sm="column" layout-align="space-around" ng-if="listVars.loading || listVars.moreContactsloading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <div layout="row" layout-sm="column" layout-align="center center" ng-if="!listVars.end && !(listVars.loading || listVars.moreContactsloading)">
        <md-button ng-click="getMoreContacts(); $event.stopPropagation();" class="md-primary">Mais contatos</md-button>
      </div>
    </md-content>
    <md-sidenav class="md-sidenav-right"
                md-component-id="filters"
                md-is-locked-open="$mdMedia('gt-md')"
                md-disable-backdrop
                md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Segmentar</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="FiltersCtrl">

        <span>Idade a partir</span>
        <md-slider ng-model="filterObject.startAge"
                   aria-label="Idade a partir"
                   class="md-accent"
                   md-discrete
                   flex
                   min="16"
                   max="105">
        </md-slider>

        <span>Idade até</span>
        <md-slider ng-model="filterObject.endAge"
                   aria-label="Idade a partir"
                   class="md-accent"
                   md-discrete
                   flex
                   min="16"
                   max="105">
        </md-slider>

        <md-list class="fixedRows">
          <md-subheader class="md-no-sticky">Cargos</md-subheader>

            <div layout="row" layout-align="center-center" ng-if="!positionsLoading">
              <md-input-container>
                <label>Nome do cargo</label>
                <input ng-model="positionSearch.name">
              </md-input-container>
            </div>
          <div class="positions-overflow">
            <md-list-item ng-repeat="position in positions | filter:positionSearch track by position.id"
                          ng-if="!positionsLoading">
              <p> {{ position.name }} </p>
              <md-checkbox class="md-secondary" ng-model="position.selected"></md-checkbox>
            </md-list-item>
            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="positionsLoading">
              <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
            </div>
          </div>

        </md-list>

        <div layout="row" layout-align="center-center">
          <md-checkbox class="md-secondary" ng-model="filterObject.save">Salvar segmento</md-checkbox>
        </div>

        <div layout="row" layout-align="center-center">
          <md-button flex class="md-raised md-primary"
                     aria-label="Segmentar"
                     ng-click="filter(); $event.stopPropagation();"
                     ng-disabled="filterObject.loading">
            Segmentar
          </md-button>
          <md-progress-circular md-mode="indeterminate"
                                md-diameter="20"
                                ng-if="filterObject.loading" style="margin-top: -5px"></md-progress-circular>
        </div>

        <div layout="row" layout-align="center-center">
          <md-button flex class="md-primary"
                     aria-label="Segmentar"
                     ng-click="segmentsDialog(); $event.stopPropagation();">
            Lista de segmentos salvos
          </md-button>
        </div>

      </md-content>
    </md-sidenav>
  </section>
</div>